.import-export {
  display: grid;
  grid-template-rows: 30px 30px 1fr 30px;
}
@keyframes dropMenu {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
.import-box {
  animation-name: dropMenu;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.export-box {
  grid-row: 2/4;
  animation-name: dropMenu;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}
